:root {
    --darkred: #5d140e;
    --midred: #9a5752;
    --lightred: #b88581;
    --lighterred: #f5d2cf;
    --lightestred: #fbefef;
    --outline-thickness: 1px;
    --yellow: #fff2b5;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}

* {
	--color-change-speed: 300ms;
	
	-webkit-transition: color var(--color-change-speed) linear!important;
	-ms-transition: color var(--color-change-speed) linear!important;
	transition: color var(--color-change-speed) linear!important;
	
	-webkit-transition: background-color color var(--color-change-speed) linear!important;
	-ms-transition: background-color var(--color-change-speed) linear!important;
	transition: background-color var(--color-change-speed) linear!important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--lightestred);
}

#header {
    width: 100vw;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
}

#footer {
    width: 100vw;
    background-color: var(--midred);
    color: white;
    padding: 2em 0;
    text-align: center;
}

#copyright p{
    font-size: 1.5em;
    font-weight: bold;
}

.scallop-container {
    display: flex;
    position: inherit;
    overflow: hidden;
}

.scallop {
    width: 96px;
    height: 24px;
    background-size: cover;
    flex-shrink: 0; /* Prevents scallops from shrinking */
}

#logoandnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 3em;
    background-color: var(--midred);
    z-index: 1000;
    border-bottom: var(--outline-thickness) solid var(--darkred);
}

#navbar {
    display: flex;
    align-items: center;
}

#logo {
    width: 200px;
    height: fill-available;
}

.awning {
    background-image: url('attachments/awning-light.svg');
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 0.5em 0.7em;
    margin: 0 0.3em;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 2em;
    border: 2px solid var(--midred);
}

#navbar ul li a:hover {
    background-color: var(--yellow);
    color: var(--midred);
    border-color: var(--darkred);
}

#toggle-dark-mode {
    width: 48px;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#toggle-dark-mode span img {
    width: 4em;
    height: auto;
}

.light-mode .light-mode-toggle {
	display: none;
}

.dark-mode .dark-mode-toggle {
	display: none;
}

@media screen and (max-width: 768px) {
    #navbar ul {
        display: none;
    }
}


/* scrollbar */
/* This applies to the whole page */
body::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--lighterred); /* Color of the track */
}

body::-webkit-scrollbar-thumb {
    background: var(--darkred); /* Color of the scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--midred); /* Color of the scroll thumb on hover */
}

