:root {
    --darkred: #5d140e;
    --midred: #9a5752;
    /* --midred: #ecb4b0; */
    --lightred: #b88581;
    --lighterred: #f5d2cf;
    --lightestred: #fbefef;
    --outline-thickness: 1px;
    --yellow: #fff2b5;
    --orange: #ffc87e;
    --darkblue: #170e5d;
    --midblue: #262a67;
    --blue1: #3b3f80;
    --blue2: #615aa9;
    --blue3: #686db3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
}

html {
    /* scrollbar-gutter: stable; */
    /* max-width: 100vw; */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    min-height: 100vh;
}

* {
    --color-change-speed: 300ms;

    -webkit-transition: color var(--color-change-speed) linear !important;
    -ms-transition: color var(--color-change-speed) linear !important;
    transition: color var(--color-change-speed) linear !important;

    -webkit-transition: background-color color var(--color-change-speed) linear !important;
    -ms-transition: background-color var(--color-change-speed) linear !important;
    transition: background-color var(--color-change-speed) linear !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--lightestred);
    /* overflow: hidden; */
}

#header {
    width: 100vw;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    color: var(--darkred);
}

#footer {
    width: 100vw;
    background-color: var(--midred);
    color: white;
    padding: 2em 0;
    text-align: center;
    border-top: 3px solid var(--darkred);
}

#copyright p {
    font-size: 1.5em;
    font-weight: bold;
}

.scallop-container {
    display: flex;
    position: inherit;
    overflow: hidden;
}

.scallop {
    width: 96px;
    height: 29px;
    background-size: cover;
    flex-shrink: 0;
    /* Prevents scallops from shrinking */
}

#logoandnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1.5em;
    background-color: var(--midred);
    z-index: 1000;
    border-bottom: 3px solid var(--darkred);
}

#navbar {
    display: flex;
    align-items: center;
}

#logo-light,
#logo-dark {
    width: 200px;
    height: fill-available;
}

.awning {
    background-image: url('attachments/awning-light.svg');
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 1em;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 0.5em 0.7em;
    margin: 0 0.3em;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 2em;
    border: 2px solid transparent;
}

#navbar ul li a:hover {
    background-color: var(--yellow);
    color: var(--midred);
    border-color: var(--darkred);
}

#darkToggle {
    width: 48px;
    height: auto;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#darkToggle span img {
    width: 4em;
    height: auto;
}

.light-mode .light-mode-toggle {
    display: none;
}

.dark-mode .dark-mode-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    #navbar ul {
        display: none;
    }
}


/* scrollbar */
/* This applies to the whole page */
body::-webkit-scrollbar {
    width: 15px;/* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--lighterred);
    /* Color of the track */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--darkred);
    border-radius: 10px;
    /* Color of the scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--midred);
    /* Color of the scroll thumb on hover */
}

/* Darkmode */
.light-mode #logo-light {
    display: block;
}

.light-mode #logo-dark {
    display: none;
}

.dark-mode #logo-light {
    display: none;
}

.dark-mode #logo-dark {
    display: block;
}


.dark-mode body {
    background-color: var(--blue3);
}

.dark-mode #header #logoandnav {
    background-color: var(--midblue);
    border-color: var(--darkblue);
}

.dark-mode #footer {
    background-color: var(--midblue);
    border-color: var(--darkblue);
    color: var(--yellow);
}

.dark-mode #logoandnav {
    background-color: var(--darkred);
}

.dark-mode #navbar ul li a {
    color: var(--yellow);
}

.dark-mode #navbar ul li a:hover {
    background-color: var(--yellow);
    color: var(--darkblue);
    border-color: var(--orange);
}

.dark-mode .awning {
    background-image: url('attachments/awning-dark.svg');
}

.dark-mode body::-webkit-scrollbar-track {
    background: var(--midblue); /* Adjust scrollbar track color in dark mode */
}

.dark-mode body::-webkit-scrollbar-thumb {
    background: var(--darkblue); /* Adjust scrollbar thumb color in dark mode */
}

.dark-mode body::-webkit-scrollbar-thumb:hover {
    background: var(--blue2); /* Adjust scrollbar thumb hover color in dark mode */
}


#home-wall {
    background-image: url(attachments/home-background.svg), url('attachments/home-wall.svg'); 
    background-size: 120vh,cover; 
    background-position: center center,center left; 
    background-repeat: no-repeat;
}

@media screen and (orientation: portrait) {
    #home-wall {
        background-image: url(attachments/home-background-mobile.svg), url('attachments/home-wall.svg'); 
        background-size: 90vh,cover;
        background-position: center top 40%,center left; 
    }
}

@media screen and (max-height: 390px) and (orientation: landscape) {
    #home-wall {
        background-image: url(attachments/home-background-wide.svg), url('attachments/home-wall.svg'); 
        background-size: 90vw,cover;
        background-position: center bottom ,center left; 
    }
}