:root {
    --darkred: #5d140e;
    --midred: #9a5752;
    /* --midred: #ecb4b0; */
    --lightred: #b88581;
    --lighterred: #f5d2cf;
    --lightestred: #fbefef;
    --lightteal: #B1D0D1;
    --darkteal: #8BA2A3;
    --yellow: #fff2b5;
    --orange: #ffc87e;
    --darkblue: #170e5d;
    --midblue: #262a67;
    --blue1: #3b3f80;
    --blue2: #615aa9;
    --blue3: #686db3;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.dark-mode *,
.dark-mode *::before,
.dark-mode *::after {
    color: white;
}

html {
    scrollbar-gutter: auto;
    /* max-width: 100vw; */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--midred);
    /* overflow: hidden; */
}

.dark-mode body {
    background-color: var(--midblue);
}

main {
    margin: 36px;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100vw;
    /* height: 110px; */
    position: sticky;
    top: 0;
    z-index: 1000;
}
#home {
    flex-grow: 1;
    justify-content: center;
}

#footer {
    width: 100vw;
    background-color: var(--midred);
    color: white;
    padding: 1.2em 0;
    text-align: center;
    justify-content: center;
    border-top: 4px solid var(--darkred);
    /* user-select: none; */
}

#copyright p {
    /* font-size: 18px; */
    font-weight: 800;
}

.scallop-container {
    display: flex;
    position: inherit;
    overflow: hidden;
    background-image: url('attachments/awning-light.svg');
    background-size: 95px 30px ;
    height: 29px;
    /* flex-shrink: 0; */
    background-repeat: repeat;
}

#logoandnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 36px;
    background-color: var(--midred);
    z-index: 1000;
    border-bottom: 4px solid var(--darkred);
    user-select: none;
}

#navbar {
    display: flex;
    align-items: center;
}

/* hide blog temporarily */
#navbar ul li:nth-of-type(3) {
    display: none;
}

#logo-light,
#logo-dark,
#menu-light,
#menu-dark {
    /* width: 200px; */
    height: 48px;
}

#logo, #darkToggle, #menuToggle {
    img {
        transition: transform 0.15s ease-in-out;
    }

    img:hover {
        /* transform: translate(0px, -10px); */
        transform: scale(1.05);
        /* background-color: var(--yellow); */
    }

    border-radius: 100px;
}

.focus-container:focus-visible {
    outline: 4px solid var(--orange);
}

.focus-container-alt:focus-visible {
    outline: 4px solid #d07e12;
}

.focus-container:click,
.focus-container img:click,
.focus-container button:click,
.focus-container-alt:click,
.focus-container-alt img:click,
.focus-container-alt button:click {
    outline: none;
}

*::selection {
    background-color: var(--orange);
    color: black;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-right: 1em;
}

#navbar ul:nth-of-type(1) li a {
    font-size: 18px;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0 0.3em;
    font-weight: bold;
    border-radius: 2em;
    border: 3px solid transparent;
}

#navbar ul li a:hover,
#navbar ul li a:focus-within {
    background-color: var(--yellow);
    color: var(--midred);
    border-color: var(--darkred);
}

#darkToggle, #menuToggle {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

#menuToggle {
    margin-left: 1em;
}

#darkToggle span img,
#menuToggle span img {
    width: 48px;
    height: auto;
}

.no-select {
    user-select: none;
}

/* .light-mode .light-mode-toggle,
.light-mode .light-menu-toggle {
    display: none;
}

.dark-mode .dark-mode-toggle,
.dark-mode .dark-menu-toggle {
    display: none;
} */

#menuToggle {
    display: none;
}

.dark-mode body {
    background-color: var(--midblue);
}

.dark-mode #header #logoandnav {
    background-color: var(--midblue);
    border-color: var(--darkblue);
}

.dark-mode #footer {
    background-color: var(--midblue);
    border-color: var(--darkblue);
    color: var(--yellow);
}

.dark-mode #logoandnav {
    background-color: var(--darkred);
}


.dark-mode #navbar ul li a:hover,
.dark-mode #navbar ul li a:focus-within {
    background-color: var(--yellow);
    color: var(--darkblue);
    border-color: var(--darkblue);
}

.dark-mode .scallop-container {
    background-image: url('attachments/awning-dark.svg');
}

/* .dark-mode body::-webkit-scrollbar-track {
    background: var(--blue3);
}
.dark-mode body::-webkit-scrollbar-thumb {
    background: var(--darkblue);
}

.dark-mode body::-webkit-scrollbar-thumb:hover {
    background: var(--blue2);
}
    */

#home-wall {
    background-image: url('attachments/home-wall.svg'); 
    /* background-size: 100$;  */
    background-position: center center;
    background-repeat: repeat;
}

.dark-mode #home-wall {
    background-image: url('attachments/home-wall-dark.svg'); 
}

#home {
    background-image: url(attachments/home-background.svg);
    background-size: 100vw; 
    background-position: right top; 
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vw / 1.45); /* aspect ratio of background */
    margin: 0;
    align-items: start;
}

.dark-mode #home {
    background-image: url(attachments/home-background-dark.svg);
}

.left {
    flex: 1;
}
.right {
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-right: 7.4%;
    margin-left: 2.1%;
    margin-top: 22%;
    /* width: 20%; */
}

#welcome {
    /* margin: 18vw 8vw 0 8vw; */
    margin-top: 15%;
    margin-left: 8vw;
    margin-right: 8vw;
    font-size: 24px;
    text-align: center;
    font-weight: 1000;
    color: var(--darkred);
    border: 6px solid var(--darkred);
    background-color: var(--lightestred);
    border-radius: 0.7em;
    padding: 1vw;
    letter-spacing: 6px;
}

.dark-mode #welcome {
    color: white;
    border-color: var(--yellow);
    background-color: var(--midblue);
}

#intro {
    margin-top: 2%;
    font-size: 20px;
    text-align: center;
    font-weight: 800;
    color: var(--darkred);
    padding: 0;
}

.dark-mode #intro {
    color: white;
}

#bulletinboard {
    margin: 20% 25% 0 21%;
    padding: 0;
    font-weight: 1000;
    color: var(--darkred);
    height: 30vw;
    padding: 1vw;
}

.dark-mode #bulletinboard {
    color: white;
}

#news {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--darkred);
}

.dark-mode #news {
    border-color: var(--yellow);
}

#articles {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#articles li {
    position: relative;
    padding: 10px 10px; /* Add padding to the left and right */
    border-bottom: 3px solid var(--darkred); /* Line between items */
    display: flex;
    align-items: center;
}

.dark-mode #articles li {
    border-color: var(--yellow);
}

#articles li a {
    display: flex;
    flex: 1; /* Allow paragraph to take up available space */
    margin: 0; /* Remove default margin */
    font-size: 18px;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
    align-items: center; /* Center align items */
    word-break: break-word;
    text-overflow: ellipsis;
    hyphens: auto;
    font-weight: 800;
    outline: none; /* Remove default outline */
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%; /* Circle around the arrow */
    background-color: var(--darkred); /* Initial background color of the circle */
    color: var(--lightestred); /* Initial arrow color */
    font-size: 16px;
    margin-right: 10px; /* Space between arrow and text */
    flex-shrink: 0; /* Prevent arrow from shrinking */
    background-image: url('attachments/arrow-forward-dark.svg');
    background-size: 16px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.dark-mode .arrow {
    background-color: var(--yellow); /* Adjust circle background color in dark mode */
    color: var(--darkblue); /* Adjust arrow color in dark mode */
    background-image: url('attachments/arrow-forward-blue.svg');
}

#articles li:hover,
#articles li:focus-within {
    background-color: var(--darkred); /* Change background color on hover and focus */
    color: var(--lightestred); /* Change text color on hover and focus */
}

.dark-mode #articles li:hover,
.dark-mode #articles li:focus-within {
    background-color: var(--yellow); /* Adjust background color on hover and focus in dark mode */
    color: var(--darkblue); /* Adjust text color on hover and focus in dark mode */
}

#articles li:hover .arrow,
#articles li:focus-within .arrow {
    background-color: var(--lightestred); /* Invert circle background color on hover and focus */
    color: var(--darkred); /* Invert arrow color on hover and focus */
    background-image: url('attachments/arrow-forward-light.svg');
}

.dark-mode #articles li:hover .arrow,
.dark-mode #articles li:focus-within .arrow {
    background-color: var(--darkblue); /* Adjust circle background color on hover and focus in dark mode */
    color: var(--yellow); /* Adjust arrow color on hover and focus in dark mode */
    background-image: url('attachments/arrow-forward-yellow.svg');
}

#articles li:hover a,
#articles li:focus-within a {
    color: inherit; /* Ensure link color is inherited on hover and focus */
}

#navbar ul:nth-of-type(2) {
    display: none;
}

/* MOBILE */
@media screen and (max-width: 820px), screen and (orientation: portrait) {
    /* TODO */
    #navbar ul:nth-of-type(1) {
        display: none;
    }

    #navbar ul:nth-of-type(2) {
        flex-direction: column;
        list-style-type: none;
        position: absolute;
        top: 77px;
        right: 20px;
        z-index: 1000;
        background-color: var(--midred);
        border-radius: 0em 0em 1em 1em;
        border: 4px solid var(--darkred);
        border-top: none;
        padding: 1em;
        /* display: none; */
        text-align: right;
    }

    #navbar ul:nth-of-type(2) li {
        padding: 0em 0em 1.5em 0em;
        /* font-size: 20em; */

        a {
            font-size: 24px;
        }
    }

    .dark-mode #navbar ul:nth-of-type(2) {
        background-color: var(--midblue);
        border-color: var(--darkblue);
    }

    #menuToggle {
        display: block;
    }


    #home {
        background-image: url(attachments/home-background-mobile.svg);
        background-size: 100vw; 
        background-position: center top; 
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 0fr 1fr;
        min-height: calc(100vw / 0.9);
        margin: 0;
        align-items: start;
    }
    
    .dark-mode #home {
        background-image: url(attachments/home-background-mobile-dark.svg);
    }

    .right {
        /* flex: 1; */
        /* align-items: center; */
        /* justify-content: center; */
        margin: 18% 8%;
        /* height: 10%; */
        /* opacity: 0.6; */
    }

    #welcome {
        margin-top: 10%;
        margin-left: 18vw;
        margin-right: 15vw;
        padding: 6%;
        font-size: 5vw;
    }

    #intro {
        margin-top: 2%;
        font-size: 4vw;
        font-weight: 800;
        text-align: center;
        color: var(--darkred);
        padding: 0;
        margin-left: 7%;
    }

    #bulletinboard {
        margin: 13% 15% 1% 15%;
        height: 10vh;
        padding: 4%;
    }
}

#about-wall {
    background-image: url(attachments/about.svg);
    background-position: top center;
    background-repeat: repeat-y;
    align-items: center;
}

#about {
    max-width: 650px;
    margin-bottom: 30px !important;
}

.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    margin-top: 20px;
    gap: 24px;
}

.dark-mode main img {
    border-color: var(--darkblue);
}

.dark-mode #about-wall {
    background-image: url('attachments/about-dark.svg'); 
}

.uppercase {
    text-transform: uppercase;
}

#about-title {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: var(--darkred);
    text-align: center;
    border-top: 4px solid;
    border-bottom: 4px solid;
    width: 100%;
    margin-bottom: 12px;
}

.dark-mode #about-title {
    color: var(--yellow);
    border-color: var(--darkblue);
}

p {
    padding-bottom: 10px;
    font-weight: 700;
}

#socials {
    /* background-color: var(--yellow); */
    /* margin-top: 30px; */
    padding-top: 12px;
    /* border: 4px solid var(--darkred); */
    /* width: 50%; */
    /* box-shadow: 0px 10px 0px var(--darkred); */
    /* width: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    img {
        border: none;
    }
}

#social-media-icons {
    display: flex;
    justify-content: right;
    gap: 15px;
    list-style-type: none;

    img {
        width: 40px;
        height: auto;
        padding: 5px;
        transition: transform 0.15s ease-in-out;
    }

    img:hover {
        transform: translate(0px, -5px);
    }
}

/* .dark-mode #socials {
    background-color: var(--blue1);
    border-color: var(--darkblue);
    box-shadow: 10px 10px 0px var(--darkblue);
    align-items: center;
} */

#tape {
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255, 0.5);
    border-top: 4px solid var(--darkred);
    border-bottom: 4px solid var(--darkred);
    border-left:4px dotted var(--darkred);
    border-right:4px dotted var(--darkred);
    position: relative;
    top: -40px;
    left: 25px;
}

.dark-mode #tape {
    border-color: var(--darkblue);
    background-color: rgb(104, 109, 179, 0.5);
}

#profile {
    width: 250px; 
    height:auto;
    border: 4px solid var(--darkred);
}

.dark-mode #profile {
    border-color: var(--darkblue);
}

/* MOBILE */
@media screen and (max-width: 820px), screen and (orientation: portrait) {
    .columns-container {
        flex-direction: column;
        gap: 10px;
    }

    #profile {
        width: 100%; 
        /* height: auto; */
    }

    .column {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
    }

    #tape{
        left: 25%;
        width: 50%;
    }
}

#works-wall {
    background-image: url(attachments/wood.png);
    background-position: top center;
    background-repeat: repeat;
    align-items: center;
}

.dark-mode #works-wall {
    background-image: url('attachments/wood-dark.png');
}

#works-title {
    font-size: 48px;
    font-weight: 800;
    color: var(--darkred);
    text-align: center;
    /* padding-top: 20px; */
}

.dark-mode #works-title {
    color: var(--yellow);
}

#works-description {
    /* font-size: 24px; */
    /* font-weight: 700; */
    text-align: center;
    /* padding: 0 20px; */
}

.card-container {
    display: grid;
    flex-wrap: wrap;
    gap: 24px;
    padding: 100px;
    margin: none;
    justify-content: center; /* Center the cards horizontally */
    /* align-items: center; */

    border-image-source: url('attachments/frame.svg');
    border-image-slice: 130 130 fill;
    border-image-width: 110px;
    border-image-repeat: stretch; /* Adjust as necessary */
}

.dark-mode .card-container {
    border-image-source: url("attachments/frame-dark.svg");
}

.card {
    display: flex;
    border: 4px solid var(--darkred);
    border-radius: 15px;
    overflow: hidden;
    /* width: 100%; */
    max-width: 700px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    text-decoration: none; /* Remove underline from links */
    /* color: inherit; */
    /* background-color: var(--lightestred); */
    transition: transform 0.15s ease-out;
}

.card:hover {
    /* transform: scale(1.025); */
    background-color: var(--lightestred);
    /* border-color: var(--midred); */
    /* box-shadow: 4px 4px 0px black; */
    transform: scale(1.01);

    img {
        filter: contrast(0.6) brightness(1.3);
    }
}

.dark-mode .card {
    border-color: var(--darkblue);
    /* background-color: var(--blue1); */
}

.dark-mode .card:hover {
    /* border-color: var(--midblue); */
    background-color: var(--blue2);
    /* box-shadow: 4px 4px 0px var(--yellow); */
}

.card img {
    width: 250px;
    /* height: auto; */
    height: 250px;
    /* object-fit: fill; */
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    margin: 10px 0;
    /* color: #555; */
}

.card-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card-tag {
    padding: 5px 10px;
    font-size: 0.9em;
}

.coding {
    background-color: var(--lightteal);
}

.uiux {
    background-color: var(--yellow);
}

.graphic {
    background-color: var(--orange);
}

.web {
    background-color: var(--lighterred);
}

.misc {
    background-color: #e4aea9;
}

.dark-mode .coding {
    background-color: var(--blue2);
}

.dark-mode .uiux {
    background-color: #8c6aa8;
}

.dark-mode .graphic {
    background-color: #be8842;
}

.dark-mode .web {
    background-color: var(--blue3);
}

.dark-mode .misc {
    background-color: var(--darkteal);
}

@media screen and (max-width: 820px), screen and (orientation: portrait) {
    .card-container {
        /* border-image-slice: 130 130 fill; */
        /* border-image-width: 50px; */
        border-image: none;
        background-color: white;
        border: 4px solid var(--darkred);
        border-radius: 15px;
        /* border-image-repeat: stretch; Adjust as necessary */
        padding: 24px;
    }

    .dark-mode .card-container {
        border: 4px solid var(--darkblue);
        background-color: var(--blue1);
    }

    .card {
        flex-direction: column; /* Stack image on top */
        /* margin: 0 auto; */
    }

    .card img {
        width: auto; /* Make image full width */
        height: auto; /* Prevent image from stretching */
    }
}

#coffee {
    width: 200px;
    margin-top: 15px;
    background-image: url(attachments/coffee1.svg);
    background-size: 150px auto;

    display: flex;
    position: inherit;
    overflow: hidden;
    /* background-image: url('attachments/awning-light.svg'); */
    /* background-size: 95px 30px ; */
    height: 200px;
    /* flex-shrink: 0; */
    background-repeat: no-repeat;
}

.dark-mode #coffee {
    background-image: url(attachments/coffee1-dark.svg);
}

.work-page {
    width: 820px;
    align-items: left !important;
}

.no-underline {
    text-decoration: none;
}


.back-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid var(--darkred);
    background-color: white;
    color: var(--darkred);
    font-size: 30px !important;
    background-image: url('attachments/arrow-back-light.svg');
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform 0.15s cubic-bezier(0.25, 0.1, 0.25, 1); /* Explicit transition for smoother animation */
}

.dark-mode .back-arrow {
    background-color: var(--darkblue);
    border-color: var(--darkblue);
    color: var(--darkblue);
    background-image: url('attachments/arrow-back-dark.svg');
}

.back-arrow:hover {
    transform: translateX(10px);
}

.drink-container {
    display: inline-block;
    position: relative;
    width: 100px;
    height: auto;
    left: 700px;
    bottom: 100px;
    margin-bottom: -100px;
}

.drink {
    /* display: inline-block; */
    position: relative;
    width: 100px;
    height: auto;
    display: block;
    /* left: 700px; */
    /* bottom: 100px; */
    /* margin-bottom: -100px; */
}

.drink-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--darkred); /* Red color with transparency */
    mix-blend-mode: lighten;
}

.dark-mode .drink-overlay {
    background-color: var(--darkblue); /* Blue color with transparency */
}


.work-text {
    background-color: white;
    margin-top: 10px;
    /* margin-left: -4px; */
    /* margin-right: 4px; */
    padding: 36px;
    position: inherit;
    border: 4px solid var(--darkred);
    /* border-bottom: none; */
    border-radius: 20px;
}

.dark-mode .work-text {
    background-color: var(--darkblue);
    border-color: var(--darkblue);
}

/* MOBILE */
@media screen and (max-width: 820px), screen and (orientation: portrait) {
    .work-page {
        width: 100%;
    }

    .back-arrow {
        margin-left: 15px;
    }

    .drink-container {
        /* position: inherit; */
        display: inline;
        left: 0;
        bottom: 0;
        size: 80%;
    }

    .work-text {
        border-left: none;
        border-right: none;
        border-radius: 0;
        /* padding: 20px; */
    }
}

a {
    color: var(--darkred);

    &:hover {
        color: var(--midred);
    }

    &:focus-visible {
        /* background-color: var(--yellow); */
        outline: 4px solid var(--orange);
    }
}

.dark-mode a {
    color: var(--yellow);

    &:hover {
        color: var(--orange);
    }
}

.work-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: var(--darkred);
    padding-bottom: 20px;
}

.dark-mode .work-text h1 {
    color: var(--yellow);
}

.work-text h2 {
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 8px;
    margin-left: -2px;
    display: inline-block;
    border: 4px solid;
    border-radius: 5px;
    padding: 0px 10px;
    /* margin-top: 20px; */
    color: var(--darkred)
}

.dark-mode .work-text h2 {
    color: var(--yellow);
    border-color: var(--yellow);
}

.work-text h3 {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 4px;
    font-weight: 800;
    color: var(--darkred);
}

.dark-mode .work-text h3 {
    color: var(--yellow);
}

h4 {
    font-style: italic;
    font-weight: 1000;
    padding-bottom: 4px;
}

strong {
    font-weight: 1000;
}

.overview-summary {
    display: flex;
    list-style: none;
    background-color: var(--lightestred);
    padding: 20px;
    gap: 15px;
    margin-top: 15px;
    
    li {
        width: 25%;
    }
}

.dark-mode .overview-summary {
    background-color: var(--blue1);
}

@media screen and (max-width: 820px), screen and (orientation: portrait) {
    .overview-summary {
        flex-direction: column;
        gap: 20px;

        li {
            width: 100%;
        }
    }
}


.user-persona-table {
    th {
        text-align: left;
        padding-right: 10px;
    }

    th::after {
        content: ':';
    }

    border-spacing: 15px 15px;
    background-color: var(--lightestred);
    margin: 10px 0px;

    th, td {
        vertical-align: top;
        font-weight: 600;
    }
}

.dark-mode .user-persona-table {
    background-color: var(--blue1);
}

.work-text ul {
    padding-left: 20px;
}

.work-text img {
    /* width: 100%; */
    /* height: auto; */
    /* border: 4px solid var(--darkred); */
    border-radius: 5px;
    /* margin-top: 20px; */
}


.end-of-work {
    margin: 40px;
    text-align: center;
    font-size: 20px;
}

.end-of-work aside {
    font-style: italic;
    margin-bottom: 20px;
}

.other-works {
    text-decoration: none;
    border: 4px solid var(--darkred);
    border-radius: 25px;
    padding: 5px 15px;
    background-color: white;
    transition: transform 0.15s ease-in-out; /* Add transition for smooth animation */
}

.other-works:hover {
    transform: scale(1.05); /* Enlarge the element when hovered */
}

.dark-mode .other-works {
    border-color: var(--darkblue);
    background-color: var(--darkblue);
}

.gallery {
    column-count: 2;
    column-gap: 20px;
    margin-top: 20px;
}

.gallery-item-button {
    border: none;
    background-color: white;
}

.gallery-item-button:focus-visible {
    outline: none;
}

.dark-mode .gallery-item-button {
    background-color: var(--darkblue);
}

.gallery-item-container:focus-within {
    outline: 4px solid var(--orange);
}

.gallery-item-container {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
    transition: transform 0.15s ease-out;
}

.gallery-item {
    width: 100%;
    height: auto;
    break-inside: avoid;
    /* border-radius: 15px; */
    /* transition: transform 0.15s ease-out; */
}

.gallery-item-container:hover {
    /* transform: scale(1.025); */
    /* background-color: var(--lightestred); */
    /* border-color: var(--midred); */
    /* box-shadow: 4px 4px 0px var(--yellow); */
    transform: scale(1.02);
}

.gallery-item-container:hover .gallery-item-button img {
    /* opacity: 70%; */
    filter: contrast(0.5) brightness(1.3);
}

.gallery-item-button:hover {
    cursor: pointer;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 234, 234, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dark-mode .fullscreen-overlay {
    background-color: rgba(37, 41, 99, 0.8);
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

@media screen and (max-width: 820px), screen and (orientation: portrait) {
    .gallery {
        column-count: 1;
    }
}